{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Template to display the report selection in the browser as tabs.
    Also calls JavaScript Module mod_srg/data_view to render the data.
    @package    mod_srg
    @copyright  2024 University of Stuttgart <kasra.habib@iste.uni-stuttgart.de>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_srg/tabbed_environment

    Report View Tab Selection

    Example context (json):
    {
        "coursemoduleid": 0,
        "activetabindex": 0,
        "tabdata": [
            {
                "index": 0,
                "name": "tablename"
            }
        ]
    }
}}
<div 
    id="srg-tab-container"
    class="srg-hidden"
    data-coursemoduleid="{{coursemoduleid}}"
    data-activetabindex="{{activetabindex}}">
    <ul 
        class="nav nav-tabs" role="tablist">
        {{#tabdata}}
        <li 
            class="nav-item" 
            role="presentation">
            <a 
                class="nav-link"
                href="#"
                data-index="{{ index }}"
                data-name="{{ name }}"
                role="tab"
                id="srg-tab-{{index}}"
                aria-selected="false">
                {{name}}
            </a>
        </li>
        {{/tabdata}}
    </ul>
</div>


{{#js}}
require(['mod_srg/tabs'], (module) => module.init());
{{/js}}